:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #ffffff;
  --brand-color: #2196f3;
  --logo-color: #000000;
  --footer-address-color: rgba(255, 255, 255, 0.6);

  --color-background-primary: #e5e5e5;
  --color-background-secondary: #2f303a;
  --color-backgroubd-team: #f5f4fa;

  --font-family-primary: "Roboto", sans-serif;
  --font-family-logo: "Raleway", serif;
}

/* ------------global-------------- */
.html {
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-primary);
  color: var(--main-color);
}

header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* -----------header------------------ */

.header .container {
  display: flex;
  background-color: var(--accent-color);
}

.logo {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
}

.logo-web {
  color: var(--brand-color);
}
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}
.contact {
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  fill: var(--main-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-li:not(:last-child) {
  margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--brand-color);
  left: 0;
  bottom: -33px;
  border-radius: 2px;
}

/* -----------hero section------------------ */

.hero-section {
  padding: 200px 0;
  color: var(--accent-color);
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hero-button {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  background-color: var(--brand-color);
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}

/* -----------sections preference------------------ */
.section-preference {
  padding-top: 94px;
}

.preference-list {
  display: flex;
}

.preference-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.preference-list-item {
  width: calc((100%-90px) / 4);
}

.preference-list-item:not(:last-child) {
  margin-right: 30px;
}

.preference-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.preference-icon {
  width: 70px;
  height: 70px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  background-color: var(--color-backgroubd-team);
  margin-bottom: 30px;
  border-radius: 4px;
}
/* -----------sections work------------------ */

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}

.work-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
  width: calc((100%-60px) / 3);
}

.work-list-item {
  position: relative;
}

.work-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.work-text-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

/* -----------sections team------------------ */
.section-team {
  background-color: var(--color-backgroubd-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.team-list {
  display: flex;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.team-list-item {
  text-align: center;
  width: calc((100%-90px) / 4);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-link {
  display: flex;
  justify-content: center;
}

.social-icon {
  border-radius: 50px;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.link-area:hover .social-icon,
.link-area:focus .social-icon {
  background-color: var(--brand-color);
  border-radius: 50px;
  fill: var(--accent-color);
}

/* -----------client section------------------ */
.section-client {
  padding: 94px 0;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.client-list-item:hover,
.client-list-item:focus,
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}

.client-list-item:hover,
.client-list-item:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}

/* -----------footer------------------ */
.footer {
  background-color: var(--color-background-secondary);
  padding: 60px 0;
  display: flex;
}

.footer-container {
  display: flex;
}

.logo-footer {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.text-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.fotter-list {
  display: flex;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  display: block;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--brand-color);
}

.footer-social-container {
  margin-left: 70px;
  margin-top: 12px;
}

.footer-invite {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-list-item {
  margin-right: 10px;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--accent-color);
}

.link-area:hover .footer-icon,
.link-area:focus .footer-icon {
  background-color: var(--brand-color);
  border-radius: 50px;
}

.footer-form {
  margin-left: 93px;
}

.footer-form-field {
  display: flex;
  margin-top: 20px;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-form input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input {
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: var(--accent-color);
}

.subscribe {
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  padding-left: 28px;
  margin-right: 10px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-form-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin-right: 10px;
}

/* -----------portfolio------------------ */
/* -----project section------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--color-backgroubd-team);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--accent-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-section {
  padding: 94px 0;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list-item {
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item:hover,
.project-list-item:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-item:nth-child(3n + 3) {
  margin-right: 0;
}

.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.project-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 4px;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-list-item :hover .project-description {
  transform: translateY(0);
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 23px;

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  background-color: rgba(33, 150, 243, 0.9);
}

.example {
  padding: 20px 24px;
}

/* -----modal------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.close-logo {
  position: absolute;
  left: 5px;
  top: 6px;
}

/* -----form------- */

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form {
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  margin: 0;
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: cursor, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus,
.form-field input:active {
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}

.form-field label {
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.form-icon:hover,
.form-icon:focus {
  fill: #2196f3;
}

.comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form-field .comment::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
  transition-property: cursor, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:hover,
.form-field textarea:focus,
.form-field textarea:active {
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}

.checkbox-field input[type="checkbox"] {
  width: 16px;
  height: 15px;
}

.checkbox-field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  position: relative;
}

.icon-check {
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.text-contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked + .icon-check {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.form-contract {
  color: var(--brand-color);
}

.form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--accent-color);
}
